<main>

    <section id="cmnFormsCode" *ngIf ="validToken == true">
        <div class="outer">
            <div class="resiterCustomer formCmnAll flex">
                <div class="formCntnt">
                    <h2>Welcome to Altras</h2>
                    <h4>Let's reset your password!</h4>
                    <p>Don’t worry. Just enter the email address you registered with and we’ll email you instructions to reset your password.</p>
                </div>
                <div class="innerFormAll" >
                 <form
                        [formGroup]="resetPasswordForm"
                        (ngSubmit)="onSubmit()"
                    >
                    <div class="successPeraRegister" >
                        <h3>Reset your password here!</h3>
                    </div>
                        <div class="flex flex-2" *ngIf = 'successResetPassword == false'>
                            <div class="inner">
                            
                            <label>New Password</label>
                            <input 
                                name="password" 
                                type="password"
                                placeholder="Enter your New password"
                                class="txtBox"
                                formControlName="password"
                                required
                               >
                               <div *ngIf="password && password.invalid && (password.touched || password.dirty)"
									class="text-danger"
									> 
							
									<small *ngIf="password.errors?.required">
										password is required.
									</small>
							    </div>
                                </div>
                                <div class="inner">
                            
                                    <label>Confirm Password</label>
                                    <input 
                                        name="confirmPassword" 
                                        type="password"
                                        placeholder="reenter your password"
                                        class="txtBox"
                                        formControlName="confirmPassword"
                                        required
                                       >
                                       <div *ngIf="confirmPassword && confirmPassword.invalid 
                                       && (confirmPassword.touched || confirmPassword.dirty) || resetPasswordForm.errors?.passwordNotMatch"
                                            class="text-danger"
                                            >
                                            <small *ngIf="resetPasswordForm.errors?.passwordNotMatch">
                                                Your password and confirm password must be match
                                            </small>
                                        </div>
                                        </div>
                        </div> 
                    <div class="txtGrp text-center" *ngIf = 'successResetPassword == false'>
                            <button type="submit" class="webBtn colorBtn" [disabled]="!resetPasswordForm.valid">Reset password</button>
                        </div>
                         <!-- message when successful password reset -->
                         <div class="successPeraRegister" *ngIf='successResetPassword == true'>
                            <p>Your Password Reset Successfully </p>
                            <div  class="txtGrp text-center">
                                <a  class = "webBtn colorBtn" href = '#' routerLink="/login">Login</a>
                         </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    </main>
