<header class="ease simple">
    <div class="contain">
        <div class="logo ease">
            <a href="index.php"><img src="images/logo2.png" alt=""></a>
            
        </div>
        <div class="toggle"><span></span></div>
        <nav class="ease">
            <ul id="nav">
                <li class="">
                    <a  href = "#" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="">
                    <a  href = "#" routerLink="/about" routerLinkActive="active">About Us</a>
                </li>
                <li class="">
                    <a href = "#" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </li>
                <li class="">
                    <a href="#" routerLink = '/calculator' routerLinkActive="active" >Calculate</a>
                </li>
                <li class="">
                    <a href = "#"  routerLink="/branches" routerLinkActive="active">Our Branches</a>
                </li>
                <!-- <li class="<?php if($page=="transfer"){echo 'active';} ?>">
                    <a href="transfer.php">Transfer</a>
                </li> -->
                <li class="">
                    <a href="#" routerLink="/registeration" routerLinkActive="active">Register</a>
                </li>
                <li class="btnLi" >
                    <a  href = '#' routerLink="login" routerLinkActive="active">Login</a>
                </li>
            </ul>
        </nav>
        
        <div class="clearfix"></div>
    </div>
</header>
<!-- header -->


<div class="upperlay"></div>