<main>

    <section id="cmnFormsCode">
        <div class="outer">
            <div class="resiterCustomer formCmnAll flex">
                <div class="formCntnt">
                    <h2>Welcome to Altras</h2>
                    <h4>Let's reset your password!</h4>
                    <p>Don’t worry. Just enter the email address you registered with and we’ll email you instructions to reset your password.</p>
                </div>
                <div class="innerFormAll">
                 <form
                        [formGroup]="forgetpassword_emailForm"
                        (ngSubmit)="onSubmit()"
                    >
                       
                        <div class="successPeraRegister" *ngIf='validEmailMsg == null'>
                            <h3>Reset your password here!</h3>
                            <p>Don’t worry. Just enter the email address you registered with and we’ll email you instructions to reset your password.</p>
                        </div>
                         <!-- <div class="_alert alert_error flex" *ngIf='invalidEmailMsg != null'>
                            <span class="symbolClass"><i class="fa fa-exclamation-triangle"></i></span>
                            <p>{{invalidEmailMsg}}</p>
                            <span class="_crossClass"><i class="fi-cross"></i></span>
                        </div> -->
                    
                        
                        <div class="txtGrp" *ngIf='validEmailMsg == null'>
                            
                            <label>Email Address</label>
                            <input 
                                type="email"
                                name="forgot-password" 
                                placeholder="enter your email"
                                class="txtBox"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                formControlName="email"
                                required
                               >
                               <div *ngIf="email && email.invalid && (email.touched || email.dirty)"
									class="text-danger"
									>
							
									<small *ngIf="email.errors?.required">
										email is required.
									</small>
									<small *ngIf="email.errors?.pattern">
										email not valid.</small>
								</div>
                        </div> 
                    <div class="txtGrp text-center" *ngIf='validEmailMsg == null'>
                            <button type="submit" class="webBtn colorBtn" [disabled]="!forgetpassword_emailForm.valid">Reset password</button>
                        </div>
                        <!-- message when successful password reset -->
                        <div class="successPeraRegister" *ngIf='validEmailMsg != null'>
                            <h3>{{validEmailMsg}}</h3>
                            <p>Please check your email </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <app-alrets-popup alert_popup_message = "invalidEmailMsg"></app-alrets-popup>
    
    </main>
