<div class="popup" data-popup="successPopup">
    <div class="tableDv">
        <div class="tableCell">
            <div class="contain">
                <div class="_inner">
                    <div class="alert alert_successPop">
                        <span class="symbolClass"><i class="fa fa-check-square"></i></span>
                        <h4>Awesome!</h4>
                        <p>{{responseMessage}}</p>
                        <a href="javascript:void(0)" class="webBtn crossClass">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup" data-popup="errorPopup">
    <div class="tableDv">
        <div class="tableCell">
            <div class="contain">
                <div class="_inner">
                    <div class="alert alert_errorPop">
                        <span class="symbolClass"><i class="fa fa-exclamation-triangle"></i></span>
                        <h4>Opp!</h4>
                        <p>{{responseMessage}}</p>
                        <a href="javascript:void(0)" class="webBtn crossClass">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="popup" data-popup="infoPopup" *ngIf= 'responsetype == "info"'>
    <div class="tableDv">
        <div class="tableCell">
            <div class="contain">
                <div class="_inner">
                    <div class="alert alert_infoPop">
                        <span class="symbolClass"><i class="fa fa-info-circle"></i></span>
                        <h4>Information</h4>
                        <p>{{responseMessage}}</p>
                        <a href="javascript:void(0)" class="webBtn crossClass">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup" data-popup="warnPopup" *ngIf= 'responsetype == "warning"'>
    <div class="tableDv">
        <div class="tableCell">
            <div class="contain">
                <div class="_inner">
                    <div class="alert alert_warnPop">
                        <span class="symbolClass"><i class="fa fa-exclamation"></i></span>
                        <h4>Warning!</h4>
                        <p>{{responseMessage}}</p>
                        <a href="javascript:void(0)" class="webBtn crossClass">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->